@function p2r($px) {
  @return $px / 75 * 1rem;
}

@mixin Ellipsis($width: 100%) {
  width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin PlaceholderTransform() {
  animation: PlaceholderAnimate .8s ease-in-out forwards;
  @keyframes PlaceholderAnimate {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
