@function p2r($px) {
  @return $px / 75 * 1rem;
}

@mixin HistoryMeetingListIcon($name) {
  &.#{$name} {
    &:after {
      background: url('../../assets/#{$name}.svg') no-repeat center / cover;
    }
    &.grey:after {
      background: url('../../assets/#{$name}1.svg') no-repeat center / cover;
    }
  }
}

@mixin AccountListIcon($name) {
  &.#{$name} {
    &:before {
      background: url('../assets/#{$name}.png') no-repeat center / 100%;
    }
  }
}

@mixin Ellipsis($width: 100%) {
  width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin PlaceholderTransform() {
  animation: PlaceholderAnimate .8s ease-in-out forwards;
  @keyframes PlaceholderAnimate {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
